body{
	background-color: #bdbdbd;
}
.img_logo {
	width:100px;
	height:70px;  
}
.nav{
	background-color: #212121;

}
.nav_button{
	background-color: #212121;
}
.contenido_targeta{
	width: 40%;
	margin-top: 5%;
	color: black;
}
.targetatit{
	text-align: center;
	margin-top: 5%;
}
.modal{
	background-image: url(/home/usuario/Escritorio/Practico/static/IMG/FondoB.jpg);
}
.menu{
	background-color:#263238;
}
.titmenu{
	text-align: center;
}
.row{
	display: flex;
}
.contenido_targeta2{
	text-align: left;
	width: 100%;
}
.contenido_targeta{
	text-align: left;
	width: 100%;
}
.medio{
	width: 100%;
}
.banner{
	width: 100%
}
.novedades{
	margin-top: 2.5%;
}
.imagen{
	width: 100%;
}
.promo1{
	background-color: #9e9e9e;
}
.titexp{
	color: white;
}
#btnmenu{
	color: #212121;
}
.targeta{
	background-color: grey;
}
.Papas_rusticas{
	width: 100%
}
.btnregresar{
	background-color: grey;
	text-align: right;
}
.boton{
	margin-top: 5%;
}
.txtenviado{
	color: black;
	font-size: 150%;
}
.espacio{
	background-color: white;
	width: 100%;
}
.cards{
	width: 80%;
}
.paginass{
	text-align: center;
}
#salirmenu{
	text-align: right;
}
.tdcarde{
	width: 50%;
}
.imgforo{
	height:280px; 
}
.goye{
	width: 100%;
}
.rusticas{
	width: 100%;
}
.cheddar{
	width: 100%;
}
.guacamole{
	width: 100%;
	text-align: center;
}
.login{
	color: white;
}
.foro{
	width: 100%;
}
.signature{
	background-color: #eeeeee;
}
.pollo{
	background-color: #eeeeee;
}
.carne{
	background-color: #eeeeee;
}
.postres{
	background-color: #eeeeee;
}
.paginacion{
	text-align: left;
}
.enviodetexto{
	position: absolute;
    top: 90%;
    width: 95%;
    left: 2.5%;
}
.divBody{
	border-radius: 15px;
    background-color: #f0f4c3;
    margin-bottom: 1.5%;
    width: 95%;
    margin-left: 2.5%;
    text-indent: 15px;
    font-size: 20px;
}
.footer{
    background-color: #212121;
}
#map {
    height: 400px;
    width: 100%;
}
.agregar{
    margin-top: 0.5%;
    text-align: right;  
}
.titnovedad{
    text-align: center;
    text-decoration: underline;
}
.responder{
    margin-bottom: 3%;
    margin-top: 2.5%;
    margin-left: 2%;
}